BODY {
	background: #ffffff;
}

BODY, #bodytext, P, A, TD, TH, DIV, INPUT, SELECT, TEXTAREA {
	font-size: x-small;
	font-family: Arial, Verdana, Helvetica;
}


BODY, #bodytext, P, TD, TH, DIV, INPUT, SELECT, TEXTAREA {
	color: #000000;
}

A {
	color: #003366;
}

A:visited {
	color: #660066;
}


Table.RightModuleCalendar {
	width: 95%;
	border-color: #000000;
	text-align:center;
   border-style: solid;
   border-width:1px;
}

Table.RightModuleCalendar TD{
   font-family: Arial, Verdana, Helvetica;
   font-size: x-small;
   border:solid 1px #666666;
   padding:3px;
}

input.LogOnButton {
	border-right: 0px solid;
	border-top: 0px solid;
	font-weight: normal;
	font-size: x-small;
	background: #000000;
	border-left: 0px solid px;
	color: #ffffff;
	border-bottom: 0px solid px;
	font-family: Arial, Verdana, Helvetica;
	text-align: left;
	height: 20px;
	padding-left: 10px;
}

TD.DateHeader {
   background: #666666;
	color: #FFFFFF;
	font-size: x-small;
  	font-family: Arial, Verdana, Helvetica;
	text-indent: 10px;
}

td.ArrowList LI{
	list-style-image : url(http://portal.hp.com/lib/navigation/images/link_arrow.gif);
	font-family:Arial, Verdana, Helvetica;
	font-size : x-small;
}

.ModuleLeftNav {
	width:170px;
	vertical-align:top;
}

.BusinessHeader { 
	background-color:#FFFFFF;
	color: #000000; 
	height: 30px;
	font-family: Arial, Verdana, Helvetica;
	font-size:large;
	padding-left: 10px;
}

.ModuleWidthSeparator {
	width: 10px;
	border: solid;
}

.ModuleHeader {
   background: #666666;
	color: #FFFFFF;
	font-size: x-small;
   font-family: Arial, Verdana, Helvetica;
   font-weight:bold;
	padding-left: 10px;
	padding-right: 10px; 
	height: 20px;
	list-style-image : url(http://portal.hp.com/lib/navigation/images/header_arrow.gif);
}

.ModuleHeader A{
	color:#ffffff;
	font-weight:normal;
}

.ModuleHeader A:visited {
    color: #FFFFFF;
    font-weight:normal;
}

.ModuleHeader A:link {
	color:#ffffff;
	font-weight:normal;
}

.ContentHeader {
   background: #666666;
	color: #FFFFFF;
	font-size: x-small;
   font-family: Arial, Verdana, Helvetica;
   font-weight:bold;
	padding-left: 10px;
	padding-right: 10px; 
	height: 20px;
}

.ContentHeader A{
	color:#ffffff;
	font-weight:normal;
}

.ContentHeader A:visited {
    color: #FFFFFF;
    font-weight:normal;
}

.ContentHeader A:link {
	color:#ffffff;
	font-weight:normal;
}

.ModuleHeaderSeparator {
	background-color: #FFFFFF;
	height: 10px;
}

.ModuleHeaderImage {
	background: #666666;
	color: #FFFFFF;
	height: 20px;
}

.ModuleContent {
	background-color: #FFFFFF;
	font-size: x-small;
	font-family: Arial, Verdana, Helvetica;
	font-weight: normal;
	color: #000000;
	text-align: left;
	padding-left: 10px;
	padding-right: 10px;
	vertical-align:top;
	list-style-image : url(http://portal.hp.com/lib/navigation/images/list_arrow.gif);
}

.ModuleContent P, LI, A, TD, TH, DIV { 
	font-size: x-small; 
	font-family: Arial, Verdana, Helvetica; 
} 

.ContentText {
	background-color: #FFFFFF;
	FONT-SIZE: x-small;
	FONT-FAMILY: Arial, Verdana, Helvetica;
	font-weight: normal;
	COLOR: #000000;
	TEXT-ALIGN: left;
	padding-left: 10px;
	padding-right: 10px;
	vertical-align:top;
}

.ModuleText {
	font-size: x-small;
	font-family: Arial, Verdana, Helvetica;
	font-weight: normal;
	color: #000000;
	text-align: left;
	padding : 0px 10px 0px 0px;
}

.PageHeader { 
	background-color:#FFFFFF;
	color: #000000; 
	font-family: Arial, Verdana, Helvetica;
	font-size: large;
}

.ModuleContent UL {
	list-style-image : url(http://portal.hp.com/lib/navigation/images/list_arrow.gif);
	vertical-align:top;
}

.ContentText UL {
	list-style-image : url(http://portal.hp.com/lib/navigation/images/list_arrow.gif);
	vertical-align:top;
}

.ModulePageTitleSeparator {
	background-color: #FFFFFF;
	height: 20px;
}

.ModuleSeparator {
	background-color:#ffffff;
	height: 25px;
}

.ArticleDate	{
	font-family:Arial, Verdana, Helvetica;
	font-size: xx-small;
	font-style: italic;	
}

.DateHeader {
   background: #666666;
	color: #FFFFFF;
	font-size: x-small;
   font-family: Arial, Verdana, Helvetica;
	text-indent: 10px;
	height: 20px;
	vertical-align: middle;
}

.RightColumnSetup {
	padding-right: 5px;
	text-align: left;
	vertical-align:top;
	width: 182px;
}

.RightModuleHeader {
   background: #CCCCCC;
	color: #000000;
	font-size: x-small;
   font-family: Arial, Verdana, Helvetica;
   font-weight:bold;
   padding-left: 10px;
   padding-right: 10px;
	height: 20px;
	vertical-align:middle;
}


IMG.ModulePicture {
	border: 0 none;
	width: 74px;
	height: 56px;
}

IMG.PresidentPicture {
	margin-bottom: 3px;
	border: 0;
	width: 60px;
	height: 83px;
	float: left;
	text-align: left;
	margin-right: 5px;
}

LI.RightModuleMore {
	list-style-image : url(http://portal.hp.com/lib/navigation/images/link_arrow.gif);
	vertical-align:middle;
	text-align:left;
}

.date	{
	font-family:Arial, Verdana, Helvetica;
	font-size: xx-small;
	font-style: italic;	
}


NavModuleLink {
   font-size: x-small;
   font-family: Arial, Verdana, Helvetica;
   font-weight: normal;
   color: #000000;
   height: 20px;
}

.NavModuleTitle {
   background-color:#FFFFFF;
   color: #000000;
   font-family: Arial, Verdana, Helvetica;
   font-size: large;
}

.NavModuleSubCategory {
   font-weight: bold;
   font-size: x-small;
   color: #000000;
   font-family: Verdana, Arial, Helvetica;
   height: 20px;
   padding: 6px 0px 0px;
}

UL.List
{
	margin: 0px 0px 0px 9px;
	padding : 0px 0px 0px 0px;
	list-style-image : url(http://portal.hp.com/lib/navigation/images/rightlist_arrow.gif);
}

UL.IndentList
{
	margin: 0px 0px 0px 19px;
	padding : 0px 0px 0px 0px;
	list-style-image : url(http://portal.hp.com/lib/navigation/images/rightlist_arrow.gif);
}
